@model ShoppingCardVM

<body class="bg-light">

    <div class="container py-5">

        <h2 class="mb-4">🛒 Your Shopping Cart</h2>

        <div class="row">
            @foreach(var obj in Model.ShoppingCardList)
            {

                <div class="col-3 mb-4 ">
                    <div class="card shadow-sm border-0 rounded-4 ">
                        <img src="@obj.Product.ImageUrl" height="300" style=" width:100%; "
                             class="card-img-top rounded-top-4" alt="@obj.Product.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@obj.Product.Name</h5>
                            <p class="text-muted mb-1">Price: <strong>@obj.Product.Price.ToString("N2")</strong></p>
                            <p class="text-muted mb-1">Quantity: <strong>@obj.Count</strong></p>
                            <p class="text-success">Total: <strong>@obj.Total.ToString("N2")</strong></p>
                            <div class="d-flex justify-content-between mt-3">
                                <a asp-action="Minus" asp-route-Id="@obj.Id" class="btn btn-outline-danger btn-sm rounded-pill">-</a>
                                <a asp-action="Plus" asp-route-Id="@obj.Id" class="btn btn-outline-primary btn-sm rounded-pill">+</a>

                            </div>
                        </div>
                    </div>
                </div>

            }
           

        </div>

        <div class="mt-4 p-3 bg-white rounded-4 shadow-sm sticky-summary">
            <h4 class="mb-3">
                Total Amount: <span class="text-success">@Model.TotalAmount</span>
            </h4>
            <a href="#" class="btn btn-secondary rounded-pill px-4 me-2">Continue Shopping</a>
            <a asp-controller="Home" asp-action="Checkout" class="btn btn-success rounded-pill px-4">Checkout</a>
        </div>

    </div>

</body>