@model List<Category>
<div class="row ">
    <div class="col-6">
        <h2>Category List</h2>

    </div>
    <div class="col-6">
        <a class="btn btn-primary" asp-controller="Category" asp-action="Create" >Create New Category</a>
    </div>

</div>

<table class="table ">
    <thead>
        <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>Order Id</th>
        <th></th>
            <th></th>

        </tr>

    </thead>

    <tbody>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }

        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.OrderId</td>
                <td><a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">Delete</a></td>
            </tr>
        }
       
    </tbody>


</table>
